body{
    margin:0;
    font-family: Arial, sans-serif;
}

.container{
    display:flex;
    height:100vh;
}

/* bagian kiri */
.left{
    flex:1;
    background-image: url("images/bungabclogin.jpg");
    background-size: cover;
    background-position: center;
    color:rgb(221, 163, 163);
    padding:40px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}


/* bagian kanan */
.right{
    flex:1;
    background:#f3e6ea;
    display:flex;
    justify-content:center;
    align-items:center;
}

form{
    width:300px;
}

input{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
    border-radius:5px;
    border:1px solid #ccc;
}

button{
    width:100%;
    padding:10px;
    background:#e84a8a;
    border:none;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

.links{
    display:flex;
    justify-content: space-between;
    margin-top:10px;
    margin-bottom:20px;
    font-size:14px;
}